@model EntityLayer.Concrete.SurucuDetay
@{
    ViewBag.Title = "SurucuUpdate";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@using (Html.BeginForm("SurucuUpdate", "Surucu", FormMethod.Post))
{
    <div class="form-group">
        <br />
        @Html.Label("SurucuID")
        @Html.TextBoxFor(x => x.SurucuId, new { @readonly = "readonly", @class = "form-control" })
        <br />
        @Html.Label("Araç Plakası")
        @Html.TextBoxFor(x => x.AracId, new { @readonly = "readonly", @class = "form-control" })
        <br />
        @Html.Label("Adı")
        @Html.TextBoxFor(x => x.Adi, new { @class = "form-control" })
        <br />
        @Html.Label("Soyadı")
        @Html.TextBoxFor(x => x.Soyadi, new { @class = "form-control" })
        <br />
        @Html.Label("Tel")
        @Html.TextBoxFor(x => x.Tel, new { @class = "form-control" })
        <br />
        @Html.Label("Adres")
        @Html.TextBoxFor(x => x.Adres, new { @class = "form-control" })
        <br />
        @Html.Label("Ehliyet")
        @Html.TextBoxFor(x => x.Ehliyet, new { @class = "form-control" })
        <br />
        <button class="btn btn-info">Güncelle</button>
    </div>
}

